
.btn-engine-start {
  position: relative;
  top: -200px;
  left: 150px; 
  zoom: 50%;
  width: 145px;
  height: 145px;
  margin: 0 auto;
  border-radius: 50%;
  background: linear-gradient(
    135deg,
    white 0%,
    white 22%,
    #ddd 44%,
    #a5a5a5 52%,
    black 100%
  );
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.3);
  text-align: center; 
}

.btn-engine-start:before {
  position: absolute;
  top: 7.5px;
  left: 7.5px;
  width: 130px;
  height: 130px;
  display: block;
  content: "";
  border-radius: 50%;
  background: linear-gradient(
    135deg,
    #515151 0%,
    #515151 19%,
    #ededed 50%,
    white 77%,
    white 100%
  );
}

button.btn-engine-start-in {
  font-size: 14px;
  line-height: 1.2;
  position: relative;
  top: -34px;
  left: 18px;
  width: 109px;
  height: 109px;
  padding: 30px 0 0;
  color: #fff;
  border-radius: 50%;
  background: linear-gradient(
    135deg,
    #959595 0%,
    #0d0d0d 46%,
    #010101 50%,
    #0a0a0a 69%,
    #1b1b1b 100%
  );
  -webkit-box-shadow: inset 0 2px 2px white, 0 2px 4px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 2px 2px white, 0 2px 4px rgba(0, 0, 0, 0.5);
}

/* Hide checkbox */
input{
  opacity: 0;
}

label.engineStart{
  display: block;
  position: relative;
  width: 110px;
  height: 110px;
  top: -4px;
  left: 17px;
  border: 0px;
  border-radius: 100px;
  color: #fff;
  background: linear-gradient(
    135deg,
    #959595 0%,
    #0d0d0d 46%,
    #010101 50%,
    #0a0a0a 69%,
    #1b1b1b 100%
  );
  box-shadow: 0 0 20px rgba(0, 0, 0, .2);
  white-space: nowrap;
  cursor: pointer;
  user-select: none;
  transition: background-color .2s, box-shadow .2s;
}

button.igLight{
  position: absolute;
  top: 18px;
  left: calc(50% - 13px);
  width: 26px;
  height: 8px;
  content: "";
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border-radius: 10px;
  border-width: 0px;
  background: #555;
}

#igSwitch:checked + label button.igLight{
  background: rgb(96, 255, 4);
}